<form
  class="input-comment"
  [formGroup]="applyForm"
  (submit)="submitComment(); handlePostButton()"
>
  <textarea
    #commentArea
    class="comment-area"
    placeholder="Add a comment..."
    formControlName="comment"
  ></textarea>
  <app-text-buton
    *ngIf="handleShowPostButton()"
    textColor="blue"
    [handleClick]="handlePostButton"
    class="post-comment-button"
    >Post</app-text-buton
  >
  <app-lighten-hover-icon-button
    iconSize="small"
    iconType="Emoji"
    [buttonHeight]="24"
    [buttonWidth]="24"
    [handleClick]="handleEmojiButtonClick"
  ></app-lighten-hover-icon-button>
</form>
