<div class="publication">
  <app-publication-header
    [user]="publication.publisher"
    [publicationDate]="publication.publicationDate"
    [subTitleType]="publication.subtitleType"
    [audioName]="publication.audioName"
    [artistName]="publication.artistName"
    [location]="publication.location"
  />
  <app-swiper-component [slidesPerViewNumber]="1" [slides]="generateSlides(publication.content)"></app-swiper-component>
  <app-publication-under-text
    [likes]="publication.likers.length"
    [whoLiked]="publication.likers"
    [userName]="publication.publisher.userName"
    [isCertified]="publication.publisher.isCertified"
    [caption]="publication.caption"
    [language]="publication.language"
    [commentsStatistics]="publication.comments.length"
    (liked)="handleClick4($event)"
    (newComment)="handlePostComment($event)"
  ></app-publication-under-text>
</div>
