<nav>
    <div class="top-section">
        <img src="../../../assets/Instagram-logo.png" alt="instagram-logo" width="50%" class="main-logo">
        <app-navigation-button [iconType]="currentMenu === 'Home' ? 'Home-Filled' : 'Home'" label="Home" [ngClass]="{'bold': currentMenu === 'Home'}" [handleClick]="changeCurrentMenu('Home')"></app-navigation-button>
        <app-navigation-button [iconType]="currentMenu === 'Search' ? 'Search-Filled' : 'Search'" label="Search" [ngClass]="{'bold': currentMenu === 'Search'}" [handleClick]="changeCurrentMenu('Search')"></app-navigation-button>
        <app-navigation-button [iconType]="currentMenu === 'Explore' ? 'Compass-Filled' : 'Compass'" label="Explore" [ngClass]="{'bold': currentMenu === 'Explore'}" [handleClick]="changeCurrentMenu('Explore')"></app-navigation-button>
        <app-navigation-button [iconType]="currentMenu === 'Reels' ? 'Video-Filled' : 'Video'" label="Reels" [ngClass]="{'bold': currentMenu === 'Reels'}" [handleClick]="changeCurrentMenu('Reels')"></app-navigation-button>
        <app-navigation-button [iconType]="currentMenu === 'Message' ? 'Send-Filled' : 'Send'" label="Message" [ngClass]="{'bold': currentMenu === 'Message'}" [handleClick]="changeCurrentMenu('Message')"></app-navigation-button>
        <app-navigation-button [iconType]="currentMenu === 'Notifications' ? 'Heart-Filled' : 'Heart'" label="Notifications" [ngClass]="{'bold': currentMenu === 'Notifications'}" [handleClick]="changeCurrentMenu('Notifications')"></app-navigation-button>
        <app-navigation-button [iconType]="currentMenu === 'Create' ? 'Add' : 'Add'" label="Create" [handleClick]="changeCurrentMenu('Create')"></app-navigation-button>
        <app-navigation-button iconType="Profile" label="Profile" [userProfilePhotoUrl]="userProfilePhotoUrl" [handleClick]="changeCurrentMenu('Profile')"></app-navigation-button>
    </div>

    <div class="bottom-section">
        <app-navigation-button iconType="Threads" label="Threads"></app-navigation-button>
        <app-navigation-button iconType="Burger" label="More"></app-navigation-button>
    </div>
    
</nav>