<nav>
    <div class="top-section">
        <img src="../../../assets/Instagram-logo.png" alt="instagram-logo" width="50%" class="main-logo">
        <app-navigation-button icon="Home" label="Home"></app-navigation-button>
        <app-navigation-button icon="Search" label="Search"></app-navigation-button>
        <app-navigation-button icon="Compass" label="Explore"></app-navigation-button>
        <app-navigation-button icon="Video" label="Reels"></app-navigation-button>
        <app-navigation-button icon="Send" label="Message"></app-navigation-button>
        <app-navigation-button icon="Heart" label="Notifications"></app-navigation-button>
        <app-navigation-button icon="Add" label="Create"></app-navigation-button>
    </div>

    <div class="bottom-section">
        <app-navigation-button iconType="Threads" label="Threads"></app-navigation-button>
        <app-navigation-button iconType="Burger" label="More"></app-navigation-button>
    </div>
    
</nav>