<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<main class="main">
  <app-profile-picture
    profilePictureUrl="assets/profileImage.jpeg"
  ></app-profile-picture>
  <app-profile-picture
    size="large"
    profilePictureUrl="assets/profileImage.jpeg"
    [hasStory]="true"
  ></app-profile-picture>
  <app-profile-picture
    profilePictureUrl="assets/profileImage2.jpeg"
  ></app-profile-picture>
  <app-profile-picture
    size="large"
    profilePictureUrl="assets/profileImage2.jpeg"
  ></app-profile-picture>

  <app-story-banner></app-story-banner>
  <!-- <div [style]="{ 'background-color': '#d0a741' }"> -->
    <div [style]="{ 'background-color': 'white' }">
    <app-slider-arrow></app-slider-arrow>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
