<div class="screen">
  <app-navigation-bar [userProfilePhotoUrl]="this.activeUser.profilePhotoUrl" />

  <div class="application">
    <div class="main-section">
      <app-feed-selector class="feed-selector" />

      <app-swiper-component
        class="slider-story"
        [slidesPerViewNumber]="8"
        [slides]="slidesStory"
      ></app-swiper-component>

      <div class="feed">
        @for (publication of feedContent; track publication.id) {
        <app-publication
          [publication]="publication"
          [activeUser]="activeUser"
        />
        }
      </div>
    </div>

    <app-profile-section
      [activeUser]="activeUser"
      [suggestedUsers]="suggestedUsers"
    />
  </div>
</div>
<router-outlet />
