<div #captionText [ngClass]="truncation">
  <div class="username">
    <a class="username">{{ userName }}</a>
    @if (isCertified) {
    <app-tag size="medium" type="Certified" />
    }
  </div>
  <div class="content">{{ caption }}</div>
</div>
@if(needsTruncation()){
<div class="more-button" (click)="handleTruncation()">more</div>
<br />} @if(!(language==='en' || language===null)){
<button *ngIf="!isTranslated" class="translation" (click)="handleTranslation()">
  See translation
</button>
<button *ngIf="isTranslated" class="translation" (click)="handleTranslation()">
  See original</button
>}
