<div class="publication-header">
    <div class="info-bar">

        <div class="profile-picture-wrapper" >
            <div class="profile-picture-wrapper">
                <app-profile-picture 
                size="small" 
                [hasStory]="this.user.hasStory" 
                [profilePhotoUrl]="this.user.profilePictureUrl" 
                [viewedStory]='false'
                />
            </div>
        </div>

        <div class="title-wrapper">
            <div class="main-title-wrapper" >
                <span class="bold">{{this.user.userName}}</span>
                @if (this.user.isCertified) {
                    <app-tag type="Certified" size="medium"/>
                }
                <app-text-separator size="medium" SeparatorType="middle-point" class="grey"/>
                <span class="grey">{{timeSincePublication}}</span>
                @if (!this.user.isFollowed) {
                    <app-text-separator size="medium" SeparatorType="middle-point" class="grey"/>
                    <app-text-buton [class.text-blue]="true">Follow</app-text-buton>
                }
            </div>
            @if (this.subTitleType === 'Audio') {
                <a class="sub-title-wrapper" href="">
                    @if (this.artistName) {
                        <span>{{this.artistName}}</span>
                        <app-text-separator size="medium" SeparatorType="middle-point"/>
                    }
                    <span>{{this.audioName}}</span>
                </a>
            }
            @else if (this.subTitleType === 'Location') {
                <a class="sub-title-wrapper" href="">
                    {{this.location}}
                </a>
            }


        </div>

        <app-text-buton class="menu-wrapper">
            <app-text-separator size="medium" SeparatorType="meatballs"/>
        </app-text-buton>
        
    </div>
</div>