<div [ngClass]="sliderClass">
  <div
    *ngIf="getVisibleLeftArrow()"
    class="left-arrow"
    (click)="goToPrevious()"
  >
    <app-slider-arrow direction="left"></app-slider-arrow>
  </div>
  <div *ngIf="getVisibleRightArrow()" class="right-arrow" (click)="goToNext()">
    <app-slider-arrow direction="right"></app-slider-arrow>
  </div>
  <div class="slides">
    <div class="visible-slides" *ngFor="let slide of getVisibleSlidesList()">
      <app-slide
        [type]="slide.type"
        [pictureUrl]="slide.pictureUrl"
        [userName]="slide.userName"
      ></app-slide>
    </div>
  </div>
</div>
